@model ProductListViewModel

@{ 
	ViewData["Title"] = " | Coffee Menu";

}

<html>
<body>
	<h1>Menu</h1>
	<div class="card-deck">
		@foreach (Product product in Model.Products)
		{
			<div class="card">
				<div class="card-body">
					<img class="card-img-top" src="@product.Image" alt="Coffee" />
					<h5 class="card-title">@product.ProductName</h5>
					<h6 class="card-header">$@product.Price</h6>
					<p class="card-text">@product.Description</p>
					<button type="button" class="btn btn-outline-secondary">
						
						Add to Cart
					</button>
				</div>
			</div>
		}
	</div>
</body>
</html>