@model CodeCafe.Models.ViewModels.CartViewModel
@{
	ViewData["Title"] = " | Cart";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<h1>Cart</h1>
</body>
</html>
