@{

	var current = ViewContext.RouteData.Values["area"]?.ToString() ??
				  ViewContext.RouteData.Values["controller"]?.ToString();
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet"
		  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
		  crossorigin="anonymous">
	<link href="~/css/site.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	@RenderSection("scripts", false)
</head>
<body>
	<div class="container">
		<a asp-action="Index" asp-controller="Home">
			<img src="~/images/logonotext.png" class="img-fluid-block" width="100" />
		</a>
		<h1>CODE CAFE</h1>
		<nav class="navbar navbar-expand-xl bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
					aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="menu">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="">
							<span class="fas fa-home"></span>&nbsp;
							Home
						</a>
					</li>
				</ul>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" asp-action="List" asp-controller="Product" asp-area="">
							
							Order
						</a>
					</li>
				</ul>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" asp-action="Index" asp-controller="About" asp-area="">
							
							About
						</a>
					</li>
				</ul>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" asp-action="Index" asp-controller="Contact" asp-area="">
							
							Contact
						</a>
					</li>
				</ul>
			</div>
		</nav>
		@RenderBody()
	</div>
</body>
</html>
