.card {display:inline-block;}

#slide {
	justify-content: center;
	text-align: center;
}

/*.carousel-inner div img {
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 768px){

}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%)
}*/