@{
	ViewData["Title"] = "About";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>About Us</title>
</head>
<body>
	<h1 class="text-center">About Us</h1>

	<h2 class="text-left">Who are we?</h2>
	<p class="text-left">
		Code Cafe is a small coffee shop located in downtown Des Moines and owned by Eric Stalcup, Gage Decker, Leia Decker, and Rawley Collins. Our owners are developers who think everyone
		should be able to see the value that code gives everyone in their daily lives. Whether you're working on your computer or mobile device or using a product that was created by a
		machine that was coded to do so, code is all around us. Our goal is to create an environment where those who are just dipping their toes into development, can ask questions and
		learn. We also want to create an environment that was for experienced developers or anyone who just wanted a productive environment to do work. In short, to create a community of
		people who are productive and unafraid to test the limits and learn more each day.
	</p><br />

	<h2 class="text-left">Our Mission</h2>
	<p class="text-left">The mission of Code Cafe is to provide an environment of learning, comfort, and productivity for all of our customers through a comfortable and informative environment.</p><br />

	<h2 class="text-left">Our Products</h2>
	<p class="text-left">
		Code Cafe uses the highest quality Arabica beans for our drinks that are sourced from Brazil and Colombia. The creamers, cow milk, nut milks, and other drink additions we use
		come from reputable producers who use natural ingredients, humane techniques, and are praised for their quality.
	</p><br />

	<h1>Contact Us</h1>
	<p>Email us at codecafe@fakemail.com</p>
	<p>Call us at 515-210-0000</p>
	<p>Visit us at:</p>
	<p>1007 E Grand Ave.</p>
	<p>Des Moines, IA 50319</p>
</body>
</html>
